html {
  box-sizing: border-box;
  overflow-x: hidden;
}
:root {
  --yellow: #f2a852;
  --blue: #3c4c5c;
  --white: #fff;
}

body {
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bubblegum Sans", cursive;
  color: var(--blue);
}
h1 {
  text-align: center;
  margin-bottom: 1rem;
}
p,
a {
  color: var(--blue);
}
p {
  margin-bottom: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.section {
  height: auto;
  width: 100vw;
  padding: 10% 5%;
  display: flex;
  flex-direction: column;
}
.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.hero-heading {
  font-size: 4rem;
}
.section-heading {
  font-size: 3rem;
}
.btn-primary {
  background-color: var(--yellow);
  border: none;
  color: var(--blue);
}
.btn-primary a {
  text-decoration: none;
}
.btn-primary:hover {
  background-color: #e6ab67;
  color: black;
}
.btn-outline-secondary {
  background-color: transparent;
  border: 2px solid;
  border-color: var(--yellow);

  color: var(--blue);
}
.btn-outline-secondary:hover {
  background-color: #e9e9e9;
  color: black;
  border-color: transparent;
}
nav {
  background-color: var(--yellow);
}

.logo {
  width: 60px;
  border: 0.5px solid;
  border-color: var(--blue);
  border-radius: 50%;
}
.navbar-toggler {
  border-color: transparent !important;
  color: var(--blue);
}
.nav-link {
  text-align: center;
  font-weight: 700;
}

.section-hero {
  align-items: center;
  height: auto;
}
.carousel {
  width: 100%;
}
.carousel-image {
  border-radius: 120px;
}
.buttons-container {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn-hero {
  margin: 0 0.5rem;
}
.social-icons-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.hero-social-icon {
  font-size: 2rem;
  margin: 0 1rem;
  color: var(--blue);
}
.section-hours {
  background-color: var(--yellow);
  align-items: center;
}
.white {
  color: var(--white);
}
li:nth-child(odd) {
  color: var(--white);
}
.section-menu {
  align-items: center;
}
.menu-content,
.accordion {
  width: 100%;
}
.accordion-item {
  margin: 1rem 0;
}
.accordion-button {
  background-color: transparent;
  /* border: 1px solid red; */

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--yellow);
  height: 6rem;
}
.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f2a852'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button:focus {
  border: none;
  box-shadow: none;
}
#accordion1 {
  background: linear-gradient(#00000077, #00000077), url("images/coffee2.jpg");
}

#accordion2 {
  background: linear-gradient(#00000077, #00000077), url("images/mains2.jpg");
}

#accordion3 {
  background: linear-gradient(#00000077, #00000077), url("images/deals2.jpg");
}

.accordion-button:not(.collapsed) {
  color: var(--white);
}
.accordion-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-image {
  width: 100%;
}

.section-reviews {
  align-items: center;
  background-color: var(--yellow);
}
.review {
  margin: 1rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.quote {
  color: var(--white);
  text-align: center;
  font-size: 2rem;
}
@media all and (min-width: 768px) {
  nav {
    padding: 0 10%;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }
  .section {
    height: auto;
    width: 100vw;
    padding: 5% 10%;
  }
  .carousel-image {
    border-radius: 120px;
  }
}
@media all and (min-width: 992px) {
  nav {
    padding: 0 15%;
  }
  .nav-item {
    margin: 0 1rem;
  }
  .section {
    padding: 5% 15%;
  }
  .carousel {
    width: 60%;
  }
  .menu-content,
  .accordion {
    width: 70%;
  }
  .menu-image {
    width: 100%;
  }
}
@media all and (min-width: 1200px) {
  .hero-heading {
    font-size: 8rem;
  }
  .carousel {
    width: 40%;
  }
}
